doctype html
html
    head
        include ./../header.pug

        title= title
        style
            include /css/html.css

        style.
            /* Moves with the flexbox */
            #banphrase-button {
                min-width: 50px;
                max-width: 80px;

                min-height: 40px;
                max-height: 40px;
            }

        script(src="/js/settings.js" defer) 

        
    body
        block header

        div(class="container p-2 c-white")
            div(class="d-flex flex-column")
                div(class="d-flex flex-row")
                    div(class="d-flex flex-column flex-grow-1 w-100")
                        div(class="p-2 flex-column") Name !{user.Name}
                        div(class="p-2 flex-column") Twitch UID !{user.TwitchUID}
                    div(class=" flex-lg-column-reverse")
                        img(src=`${user.profilePicture}` class="rounded-circle float-end w-100" style="overflow:hidden;width:100%;height:auto;" alt="Twitch Profile Picture")

            div(class="d-flex flex-column my-3") Settings
                form(onsubmit="onSubmitSetting(event); return false;", id="settings-form")
                    div(class="form-check form-switch")
                        input(class="form-check-input" type="checkbox" role="switch" id="flexSwitchEventsub" name="Eventsub" checked=(user.Options.Eventsub))
                        label(class="form-check-label" for="flexSwitchEventsub") Enable 7TV Eventsub notification
                    div
                        button(type="submit" class="btn btn-primary") Save
                
                    
            div(class="d-flex flex-column") Banphrases
                div(class="p-2 flex-row") Edit your banphrases
                    table(class="table c-white")
                        thead
                            tr
                                th Banphrase
                        tbody
                            each banphrase in banphrases
                                tr(class="d-flex flex-row" data-id=`${banphrase.id}` data-name=`${banphrase.name}`)
                                    td(class="flex-column w-100" data-type=`${banphrase.type.toUpperCase()}`) !{banphrase.type.toUpperCase()}
                                        - if (banphrase.type == "regex") {
                                            div(class="p-2 flex-column") !{banphrase.regex}
                                        - }
                                        - else {
                                            div(class="p-2 flex-column") !{banphrase.pb1_url}
                                        - }
                                    td(class="flex-column")
                                        div(class="d-flex")
                                            div(class="btn btn-danger flex-row ms-4 me-4 btn-block" id="banphrase-button" onClick="onDeleteClick(this)") Delete
                                            div(class="btn btn-primary flex-row ms-4 btn-block" id="banphrase-button" onClick=`onEditClick(${banphrase.id})`) Edit

                                tr(class="d-flex flex-row d-none" id="banphrase-edit-menu" data-id=`${banphrase.id}`)
                                    form(class="d-flex flex-column" id="banphrase-edit-form" onsubmit=`onEditSubmit(event, ${banphrase.id}); return false; /* preventDefault */`)
                                        td(class="flex-column flex-grow-1")
                                            div(class="p-2 flex-column") Type
                                                select(class="form-control" id="banphrase-edit-type" name="type" onchange=`newBanphraseTypeChange(this, ${banphrase.id})`)
                                                    option(value="regex" selected=(banphrase.type === 'regex')) Regex
                                                    option(value="pb1" selected=(banphrase.type === 'pb1')) PB1
                                        td(class="flex-column flex-grow-1")
                                            div(class="p-2 flex-column" class=(banphrase.type === 'pb1' ? 'd-none' : false) id="banphrase-edit-regex-container")
                                                div(class="p-2 flex-column") Regex
                                                    input(class="form-control" id="banphrase-edit-regex" type="text" name="regex" placeholder="Regex" value=`${banphrase.regex}`)
                                            div(class="p-2 flex-column" class=(banphrase.type === 'regex' ? 'd-none' : false) id="banphrase-edit-pb1-container")
                                                div(class="p-2 flex-column") PB1 URL
                                                    input(class="form-control" id="banphrase-edit-pb1" type="text" name="pb1" placeholder="PB1 URL" value=`${banphrase.pb1_url || ''}`)
                                        td(class="flex-column")
                                            div(class="p-2 m-2 flex-column")
                                                input(class="btn btn-primary" type="submit" value="Save")
                        
                div(class="p-2 flex-column" id="banphrase-add") Add a banphrase
                    form(class="d-flex flex-column" id="banphrase-add-form" onsubmit='onAddSubmit(event); return false; /* preventDefault */')
                        div(class="p-2 flex-column") Type
                            select(class="form-control" id="banphrase-add-type" name="type" onchange=`onAddBanphraseChange(this)`)
                                option(value="regex" selected) Regex
                                option(value="pb1") PB1
                        div(class="flex-column flex-grow-1 p-2" id="banphrase-add-regex-container")
                            div(class="p-2 flex-column") Regex
                                input(class="form-control" id="banphrase-add-regex" type="text" name="regex" placeholder="Regex" value='')
                        div(class="p-2 flex-column d-none" id="banphrase-add-pb1-container")
                            div(class="p-2 flex-column") PB1 URL
                                input(class="form-control" id="banphrase-add-pb1" type="text" name="pb1" placeholder="PB1 URL" value='')
                        div(class="p-2 m-2 flex-column")
                            input(class="btn btn-primary" type="submit" value="Save")
