doctype html
html 
    head 
        include ./header.pug
        title= title

        style 
            include /css/html.css
            include /css/commands.css

    body 
        block header

        table(class='basic-table') 
            tr(class='TableHeader')
                th(scope="col") Name
                th(scope="col") Description
                th(scope="col") Perm
            
            for command in commands
                tr(key=command.id id='basic-row')
                    td
                        a(href=`/bot/commands/${command.name}` class="link-primary") !{command.name}
                    td= command.description
                    td= command.perm